
Save New Duplicate & Edit Just Text
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create users</title>
    <style>
        .formBox{
            padding: 0.5rem 2rem;
        }
    </style>
</head>
<body>
    <form>
        <div class="formBox">
            <label for="firstname">First name:</label>
            <input type="text" id="firstname" placeholder="First name"/><br>
        </div>
        <div class="formBox">
            <label for="lastname">Last name:</label>
            <input type="text" id="lastname" placeholder="Last name"/><br>
        </div>

        <div class="formBox">
            <label for="username">User name:</label>
            <input type="text" id="username" placeholder="User name"/><br>
        </div>

        <div class="formBox">
            <label for="age">Age:</label>
            <input type=number id="age" placeholder="Age"/><br>
        </div>

        <div class="formBox">
            <label for="interests">Interests:</label>
            <input type="text" id="interests" placeholder="Interests"/><br>
        </div>

        <div class="formBox">
            <label for="pwd">Password:</label>
            <input type="password" size=20 id="pwd" name="pwd" placeholder="Password"><br>

            <label for="cpwd">Confirm Password:</label>
            <input type="password" size=20 id="cpwd" name="cpwd" placeholder="Confirm Password"><br>
        </div>

<!--
        <div class="formBox"> 
            <label for="gender" class="radio-inline">Gender</label><br>
            <input type="radio" id="male" name="gender" value="male"><label for="male" class="radio-inline">Male</label><br>
            <input type="radio" id="female" name="gender" value="female"><label for="female" class="radio-inline">Female</label><br>
        </div>
-->
        <div class="formBox">
            <p>Please select your gender:</p>
            <input type="radio" id="gender" name="male" value="male"><label for="male">Male</label><br>
            <input type="radio" id="gender" name="female" value="female"><label for="female">Female</label><br>
        </div>

        <div class="formBox">
            <button id="regButton">Create user</button>
        </div>

        <div id="msg">
            <pre></pre>
        </div>
    </form>

    <script>
        const addUser = (ev)=>{
            ev.preventDefault();  //to stop the form submitting
            let user = {
            id: Date.now,
            firstname: document.getElementById('firstname').value,
            lastname: document.getElementById('lastname').value,
            username: document.getElementById('username').value,
            age: document.getElementById('age').value,
            interests: document.getElementById('interests').value,
            password: document.getElementById('pwd').value,
            //gender: document.getElementById('gender').value FEJLER!
            gender: 'male' // Hardcoded FOR TEST.
            };
            console.log(user);

            document.forms[0].reset(); // to clear the form for the next entries
            //document.querySelector('form').reset();

            //for display purposes only
            console.warn('added' , {user} );
            let pre = document.querySelector('#msg pre');
            pre.textContent = '\n' + JSON.stringify(user, '\t', 2);

            const Http = new XMLHttpRequest();
            const url='http://localhost:3001/users';
            Http.setRequestHeader("Content-type","application/json");
            Http.open("POST", url, true);
            Http.send(JSON.stringify(user));
            Http.onreadystatechange = (e) => {
            console.log(Http.responseText)
            };

        } // addUser()

        document.addEventListener('DOMContentLoaded', ()=>{
            document.getElementById('btn').addEventListener('click', addUser);
        });
    </script>
</body>
</html>