
<div class="login">      
    <h1>Login</h2>
        <form class = "container" method="post" action= "/" id= "formLogin" name="formLogin"> 
        
            <label for="uname">Username:</label><br>
            <input type="uname" size=20 id="uname" name="uname" placeholder="Username"><br>

            <label for="pwd">Password:</label><br>
            <input type="password" size=20 id="pwd" name="pwd" placeholder="Password"><br>

            <button type="button" id="loginButton">Login</button>
    </form>
    </div>